<form [formGroup]="intermediateForm" (ngSubmit)="onSubmit()">
  <div class="form-container" @slideIn>
    <mat-label>Subject</mat-label>

    <mat-form-field>
      <mat-label>Common Name (CN)</mat-label>
      <input matInput formControlName="cn" type="text" placeholder="e.g., Intermediate CA" maxlength="64"/>
      <mat-error *ngIf="hasError('cn')">{{ getErrorMessage('cn') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Organization (O)</mat-label>
      <input matInput formControlName="o" type="text" placeholder="e.g., My Organization" maxlength="64"/>
      <mat-error *ngIf="hasError('o')">{{ getErrorMessage('o') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Organization Unit (OU)</mat-label>
      <input matInput formControlName="ou" type="text" placeholder="e.g., IT Security" maxlength="64"/>
      <mat-error *ngIf="hasError('ou')">{{ getErrorMessage('ou') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country (C)</mat-label>
      <input matInput formControlName="c" type="text" placeholder="e.g., RS" maxlength="2" style="text-transform: uppercase;"/>
      <mat-error *ngIf="hasError('c')">{{ getErrorMessage('c') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration (in days)</mat-label>
      <input matInput formControlName="durationInDays" type="number" [max]="maxDays" min="1"/>
      <mat-error *ngIf="hasError('durationInDays')">{{ getErrorMessage('durationInDays') }}</mat-error>
      <mat-hint>Max: {{maxDays}} days</mat-hint>
    </mat-form-field>

    <button class="btnRegister" color="primary" type="submit" mat-raised-button [disabled]="intermediateForm.invalid">
      Create
    </button>
  </div>
</form>