<nav style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #f0f0f0;">
    <div class="navbar-right">
    <!-- Ako korisnik nije ulogovan -->
    <ng-container *ngIf="!user">
      <button class="nav-button" [routerLink]="['/register']">Register</button>
      <button class="nav-button" [routerLink]="['/login']">Login</button>
    </ng-container>

    <!-- Ako je korisnik ulogovan -->
    <ng-container *ngIf="user">
      <span class="user-greeting">Hello, {{ user?.email }}</span>
      <button class="nav-button logout-button" (click)="logout()">Logout</button>
      <button mat-raised-button *ngIf="isLoggedAdmin()" class="create-root-certificate-button" [routerLink]="['createRootCertificate']">Create root certificate</button>
    </ng-container>
  </div>
</nav>
