<div class="forgot-container">
    <div class="forgot-card">      
        <h2>Oporavak naloga</h2>
        <p>Unesite email adresu na koju će vam biti poslat link za oporavak naloga.</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()">
        <div class="form-group">
            <label for="email">Email adresa</label>
            <input id="email" type="email" formControlName="email" placeholder="vas@email.com" />
            <div *ngIf="email.invalid && (email.touched || email.dirty)">
            <span *ngIf="email.hasError('required')">Email je obavezan!</span>
            <span *ngIf="email.hasError('email')">Email nije validan!</span>
            </div>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Pošalji link</button>
        <div *ngIf="message">{{ message }}</div>
        </form>
    </div>
</div>
